extends ./notlogged

block body
  .container
    .row(id="header")
      .col-md-4
        a(href="http://www.comparativos.es")
          img.img(src='/images/comparativos2blanco.png', rel="image_src")
  .container
    .row
      .col-md-4
         ul.nav.navbar-nav.pull-right
          li
            a(href="#r1") Comparativos.es dohaineko zerbitzua da?
          li
            a(href="#r2") Izen emanez gero, zertara konprometitzen naiz?
          li
            a(href="#r3") Comparativos.es orrialdean egiten diren kudeaketak ziurrak dira?
          li
            a(href="#r4") Zer egin behar det nere sarrera pasahitzak funtzionatzen ez badute?
          li
            a(href="#r5") Ze datu behar dira izen emateko?
          li
            a(href="#r6") Zure datuaren protekzio gradua zenbatekoa da?
          li
            a(href="#r7") Zer egin behar det nire datuak eta lehentasunak eguneratu edo aldatzeko?
          li
            a(href="#r34") Ze desberdintasun dago “sortu” eta “jarduera” atalen artean?
          li
            a(href="#r35") Eskariaren atala zeri dagokio?
          li
            a(href="#r8") Nola funtzionatzen du “obrak” atala? Zertarako erabili daiteke?
          li
            a(href="#r9") Zer esan nahi du obra bat artxibatuta dagoela?
          li
            a(href="#r10") Behin obra bat artxibatu ondoren, aktibatu daiteke?
          li
            a(href="#r11") Nola sortu dezaket konparatibo berri bat?
          li
            a(href="#r12") Hornitzaileari ze informazio bidaltzen zaio?
          li
            a(href="#r14") Ze formatutan atxikitu daitezke dokumentuak?
          li
            a(href="#r15") Konparatibo baten daturen bat aldatu dezaket?
          li
            a(href="#r16") Behin eskaria egin ondoren, konparatiboan aldaketarik egin daiteke?
          li
            a(href="#r17") Zer egin behar da hornitzaileari neurketak bidali ahal izateko?
          li
            a(href="#r18") Ze desberdintasun dago “e-postaz bidali” edo “link-a sortu” aukeren artean?
          li
            a(href="#r19") Hornitzaileak eskaria erantzun ahal izateko comparativos.es-en izen eman behar du?
          li
            a(href="#r20") Nola jakin dezaket eskaria ondo egin dela?
          li
            a(href="#r21") Nola jakin dezaket eskaintza berri bat jaso dudala?
          li
            a(href="#r22") Hornitzaileak ze informazio bete behar du?
          li
            a(href="#r25") Hornitzaileak ze formatutan atxikitu dezake dokumentu bat?
          li
            a(href="#r24") ¿Una vez recibidas las ofertas de los proveedores, puedo incorporar a otros proveedores al comparativo?
          li
            a(href="#r26") Non ikus ditzazket hornitzaileak atxikitutako dokumentuak?
          li
            a(href="#r27") Hornitzaileak eskaintza ondo egiten ez badu, formularioa berriro bete dezake?
          li
            a(href="#r28") Hornitzaileak atxikitutako dokumentua ezin dut ireki.
          li
            a(href="#r29") Jasotako eskaintzak beste hornitzaileek ikusten dituzte?
          li
            a(href="#r30") Nola deskagatu ditzaket konparatiboa?
      .col-md-8
        h1 GENERALAK
        #r1
          h3 Comparativos.es dohaineko zerbitzua da?
          p Comparativos.es dohaineko web zerbitzua da. E-posta eta pasahitza sartzearekin izen ematen duzu  eta zuzenean bertan lan egin.
        #r2
          h3 Izen emanez gero, zertara konprometitzen naiz?
          p Comparativos.es-ek ezingo du zure informazioa zabaldu eta ez du inongo kosterik suposatuko.
        #r3
          h3 Comparativos.es orrialdean egiten diren kudeaketak ziurrak dira?
          p 
        h1 NIRE PROFILA
        #r4
          h3 Zer egin behar det nere sarrera pasahitzak funtzionatzen ez badute?
          p Pasahitza ahaztu baduzu edo ondo ez badabil, zure pasahitza berriztatu daiteke. Horretarako izen ematen duzun pantailaren behekaldean ¿pasahitza ahaztu duzu? Galdera klikatu, zure korreoa sartu eta pasahitza bidaliko zaizu.
        #r5
          h3 Ze datu behar dira izen emateko?
          p Comparativos.es-en izen emateko, derrigorrezko datuak e-posta eta minimo 8 karaktereko pasahitza derrigorrezkoak izango dira. Honetaz gain, “Pribazitate Politikak” onartu behar izango dira.
          p Ondoren, zure profilan beste datu batzuk gehitu ahal izango dira; izena, eraikuntza enpresa, kargua, telefonoa eta hizkuntza.
        #r6
          h3 Zure datuaren protekzio gradua zenbatekoa da? Zuzendu
          p 
        #r7
          h3 Zer egin behar det nire datuak eta lehentasunak eguneratu edo aldatzeko?
          p Datuak eguneratu edo aldatzeko NireProfila gunera joan zaitez:
            p 1. Eskubian goiko aldean dagoen gezian klik egin.
            p 2. Nire profilan sartu.
            p 3. Aldatu beharreko datuetan arkatza aukeratu eta aldaketak egin ondoren gorde botoia sakatu.
        h1 KONPARATIBO LISTA
        #r34
          h3 Ze desberdintasun dago "sortu" eta "jarduera" atalen artean?
          p "Sortua" atalal, konparatiboa sortu den data zehaztuko du. "Jarduera", berriz, egindako azken aldaketen edo mugimenduen data.
        #r35
          h3 ¿Eskariaren atala zeri dagokio?
          p Bertan, hornitzaileei egindako eskari desberdinen datuak azalduko dira. Lehenengo zenbakiak jasotako eskari kopuruari erreferentzia egingo dio eta bigarrenak zuk egindako eskari kopuruari.
        h1 LANAK
        #r8
          h3 Nola funtzionatzen du “obrak” atala? Zertarako erabili daiteke?
          p “Obrak” atalean, zuk kudeatutako obra guztien zerrenda azalduko da. “lanean” atalean, gaur egun aktibo dauden obren zerrenda eta “artxibatuta” atalean, iada amaitutako obren zerrenda.
        #r9
          h3 Zer esan nahi du obra bat artxibatuta dagoela?
          p Artxibatutako obrak bukatutzat jotzen dira. Konparatibo berri bat sartzen duzun momentuan, obra hauek ez dira aukera bezala agertuko.
        #r10
          h3 Behin obra bat artxibatu ondoren, aktibatu daiteke?
          p Bai. lana bat artxibatuz gero, “lanean” atalera mugi daiteke.
        h1 KONPARTIBO BERRIA
        h2 MEDIZIOAK
        #r11
          h3 Nola sortu dezaket konparatibo berri bat?
          p Konparatibo bat sortzea oso erraza da.  Ezkerrean, goiko aldean agertzen den “konparatibo berria” botoia sakatu eta azaldutako pantaila bete.
          p Goiko aldean ondorengo datuak eskatuko dira:
            p a.  Konparatiboaren izenao.
            p b.  Hornitzailearentzako deskribapen laburra: Aukerakoa da.
            p c.  lANA: Atal honetan obra bat aukeratu edo berria sortu daiteke.
          p Beheko atalean:
            p a. Unitatea:  Kg, m2,...
            p b.  Kontzeptua: eskatu nahi den produktua, idatziz.
            p c.  Kopurua: Eskatu nahi duzun kantitatea jarri behar da, zenbakitan.
            p d.  Oharrak: Hemen kontzeptuaren oharren bat txertatu daiteke. 
          p Konparatibo baten lerroak gehitzeko “lerroa gehitu” botoia sakatu eta datuak sartu. Lerrorik gehitu nahi ez baduzu, eskubiko aldean  agertzen den zakarrontzia sakatu eta kenduko da.
        #r12
          h3 Hornitzaileari ze informazio bidaltzen zaio?
          p Konparatibo bat sortzen duzun momentuan, neurketak sartzeaz gain, dokumentu bat ere atxikitu daiteke. Atal honetan “arakatu” botoia sakatu eta nahi duzun dokumentu atxikitu.
        #r14
          h3 Ze formatutan atxikitu daitezke dokumentuak?
          p PDF formatuan dauden artxiboak onartuko dira.
        #r15
          h3 Konparatibo baten daturen bat aldatu dezaket?
          p Konparatibo baten neurketak aldatu daitezke, beti ere aurretik hornitzaileei eskaririk egin ez bazaie. Aldaketa egiteko, konparatiboan sartu eta “editatu” botoia sakatu. Aldaketak egin odnoren “gorde” botoia sakatu.
        h2 ESKAERA BIDALI
        #r16
          h3 Behin eskaria egin ondoren, konparatiboan aldaketarik egin daiteke?
          p Behin eskaria egin ondoren ezingo duzu aldaketarik egin.
        #r17
          h3 Zer egin behar da hornitzaileari neurketak bidali ahal izateko?
          p Behin konparatiboa sortu ondoren, bidalketa egiteko bi aukera daude:
          p 1. E-posta bidez zuzenean bidali:
            p a. “e-postaz zuzenean” aukera sakatu.
            p b.  Hornitzailearen helbide elektronikoa sartu eta “e-postaz bidali” botoia sakatu.
          p 2.  Link-a bidali
            p a.  Lauki txurian hornitzailearen izena sartu
            p b. Link edo URL bat sortzen da. Hau zure korreoankopiatu behar duzu eta horrela hornitzaileari korreo pertsonala bidali daiteke.
        #r18
          h3 Ze desberdintasun dago “e-postaz bidali” edo “link-a sortu” aukeren artean?
          p “e-postaz bidali”: comparativos.es email propia batetik eskaera bidaliko du. Kasu honetan ezingo duzu mezurik idatzi, eskaria zuzenean bidaliko zaio.
          p “Link-a sortu”: eskariaren link bat sortzen da. Hau zure korreoan kopiatu dezakezu eta zuzenean hornitzaileari e-posta pertsonalizatu bat bidali. 
        #r19
          h3 Hornitzaileak eskaria erantzun ahal izateko comparativos.es-en izen eman behar du?
          p Hornitzailea ez du zertan izen eman behar. Bere korreora link bat iritsiko zaio eta bertan eskaintzaren datuak sartu ahal izango ditu.
        #r20
          h3 Nola jakin dezaket eskaria ondo egin dela?
          p Eskaria egiten duzun bakoitzean, konparatiboko taulan zutabe bat gehituko zaizu, hornitzailearen izenarekin.
        #r21
          h3 Nola jakin dezaket eskaintza berri bat jaso dudala?
          p Eskaintza bat jasotzen duzun momentuan, goiko aldean eskubian dagoen mezuak kolore horia izango du. Botoi hori sakatuz gero, azkeneko eskarien zerrenda ikusi ahal izango duzu.
        h1 HORNITZAILEA
        #r25
          h3 Hornitzaileak ze formatutan atxikitu dezake dokumentu bat?
          p Hornitzaileak DF formatuan txertatu dezake dokumentua.
        #r22
          h3 Hornitzaileak ze informazio bete behar du?
          p Hornitzaileak unitateko prezioa gehitu behar izango du. Honetaz gain, dokumentu bat, iruzkin bat eta ordainketa era gehitu ahal izango du.
        h1 KONPARATIBO TABLA
        #r26 
          h3 Non ikus ditzazket hornitzaileak atxikitutako dokumentuak?
          p Hornitzaileak atxikitutako dokumentua taula konparatiboan ikusi daiteke. Bakoitzaren dokumentua dagokion zutabearen beheko aldean agertuko da. 
        #r27 
          h3 Hornitzaileak eskaintza ondo egiten ez badu, formularioa berriro bete dezake?
          p Formulario bakoitzak erantzun bati dagokio. Behin hau beteta eta bidalita, ezingo da berriro erantzun. Beste formulario bat sortu behar dugu eta berriro bidali.
        #r28 
          h3 Hornitzaileak atxikitutako dokumentua ezin dut ireki.
          p Baliteke dokumentuaren formatua instalaturik ez izatea. Programa instalatu dezakezu edo bestela hornitzailearekin kontaktuan jarri eta dokumentua beste formatu batean bidaltzeko eskatu. 
          p Gogoratu formulario bakoitza hornitzaile bati dagokiola. Beste erantzun bat jaso nahi baduzu, beste formulario bat sortu behar duzu. 
        #r29
          h3 Jasotako eskaintzak beste hornitzaileek ikusten dituzte?
          p Ez, eskaintza bakoitza pribatua da.
        #r30
          h3 Nola deskagatu ditzaket konparatiboa?
          p Konsparatiboa Excel formatuan deskargatu daiteke. 
      
         