extends ../notlogged

block body
  .row
    .col-md-8
      a(href="http://www.comparativos.es")
        img.img-responsive(src='/images/comparativos_60.png',style="margin:20px;") 
  .row
    .col-lg-10.col-lg-offset-1
      h1= title
      h3= message
      p #{__('Proveedor.Submit')} <a href="http://comparativos.es">comparativos.es</a>
  .row
    .col-md-6.col-md-offset-4(style="margin-top:10px;")           
      a(style="padding-right: 10px", href='https://twitter.com/COMPARATIVOS')
        img(src='/images/RRSS/twittera.png')
      a(style="padding-right: 10px", href='https://www.linkedin.com/groups/Comparativos-Obra-7498628?gid=7498628&mostPopular=&trk=tyah&trkInfo=tarId%3A1412096186376%2Ctas%3Acomparativos%2Cidx%3A2-1-4')
        img(src='/images/RRSS/linkedina.png')
      a(href='https://facebook.com/comparativos')
        img(src='/images/RRSS/facebooka.png')