div(style="padding:5px;border-bottom:1px solid #ddd;")
  div(style="float:left;padding:5px;margin-right:5px;",class="bg-{{log.actionColor}}", title="{{log.action}}")
    span.glyphicon(class="glyphicon-{{log.actionIcon}}")
  small.text-muted(style="text-transform:uppercase;font-weight:bold;") {{log.service}}
  |  | 
  small.text-info(am-time-ago="log.createdAt")
  a(style="display:block;",ng-href="{{log.url}}")
    strong(style="font-size:large;") {{log.objectName}}
  //- small.text-muted() 
  //-   span.glyphicon.glyphicon-user
  //-   |  {{log.subjectName}}
